@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background-color: #F1F1F3;
    margin: 0 auto;
}

h3{
    font-family: open sans;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
}
.aa{
    text-decoration: none;
    color: green;

 }

.btn{
    padding: 10px 20px;
    background-color: white;
    border-color: green;
    border-radius: 5px;
    /* border: none; */
}


/* banner */
.banner{
    display: flex;
    padding: 50px 70px;
    background-color: #C6E4D6;
    margin: 30px 55px;
    border-radius: 10px;
    align-items: center;
    gap: 50px;
    
}

.banner-content{
    max-width: 580px;
    
}

.title{
    color: rgb(128, 128, 128);
    font-weight: bold;
    font-family: open sans;

}
.ban-text{
    /* text-align: left; */
    font-weight: bold;
    font-family: open sans;
}

.bttn{
    padding: 10px 20px;
    background-color: #006A50;
    color: white;
    border: none;
    border-radius: 5px;

}


/*  card */

.card-container{
    margin: 30px 55px;
    display: flex;
    justify-content: space-around;
    gap: 24px;
    align-items: center;
}

.card{
    height: 212px;
    width: 244px;
    background-color: #FFFFFF;
    border-radius: 10px;
    /* box-shadow: 0px 0px 1px 1px; */
    padding: 30px;
    border-color: rgb(128, 128, 128);
}

/* another card */

.card1-container{
    margin: 30px 55px;
    display: flex;
    justify-content: space-around;
    gap: 24px;
    align-items: center;
}

.card1{
    height: 252px;
    width: 444px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 1px 1px; */
    padding: 30px;
    background-color: #81B4FC;
     
}

.card2{
    height: 252px;
    width: 444px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 1px 1px; */
    padding: 30px;
    background-color: #C6E4D6;

}

.card3{
    height: 252px;
    width: 444px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 1px 1px; */
    padding: 30px;
    background-color: #F7EBCF;
}


/* quotaion */
.quotation{
    background-image: url('/B11A1--assignment-1/assets/quote-bg.png');
    background-position: 21px 9px;
    background-repeat: no-repeat;
    margin: 30px 55px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 60px;
}

/* opinion */
.opinion{
    margin: 30px 55px;
    
}

table{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 30px;
    /* border-collapse: collapse; */
    margin-bottom: 50px;
}


tbody th{
    background-color: #C6E4D6;
    padding: 10px;
}

.option{
    background-color: #C6E4D6;
    padding: 10px 28px;
    font-weight: bold;
}

td{

    border: 1px solid grey;
    padding: 10px;
    font-weight: bold;

}




/* footer */

footer{
    background-color: #FFFFFF;
    padding: 20px 120px;
    text-align: center;
}

footer ul li{
    list-style: none;
}

hr{
    color: gray;
}

footer ul{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}


/* news */

.news{
    margin: 30px 55px;
}

.news-container{
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    padding: 20px;
}

.news-img{
    padding: 30px;
    border-radius: 50px;
}

.news-item{
    padding: 20px 20px;
}

.news-des{
    margin-bottom: 50px;
}


/* Donate */
.donate{
    text-align: center;
    justify-content: center;
}



.btnn{
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
    background-color: #FFFFFF;
    color: gray;
    font-weight: bold;
    font-size: 25px;
    margin-right: 10px;
    
}

.btnn:hover{
    background-color: #C6E4D6;
}


.search{
    padding: 8px 260px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}


/* newsletter */

.Newsletter{
    text-align: center;
    background-color: #C6E4D6;
    margin: 30px 55px;
    border-radius: 10px;
    padding: 20px;
    
}

.input-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    /* border-radius: 10px; */
}

.email{
    border: none;
    padding: 10px 120px;
    border-radius: 10px 0 0 10px;
    text-align: left;
}


.bttnn{
    background-color: #006A50;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 0 10px 10px 0;
}




